/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    if(params.slurm_p){
        executor = 'slurm'
        queueSize = 10
        submitRateLimit = '100/2min'
        clusterOptions = "-p ${params.slurm_profile}"
    }

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
    
    withName: PROFILE_DISTS {
        publishDir = [
            [
                path: { "${params.outdir}/ProfileDists" },
                mode: params.publish_dir_mode,
                pattern: "*/allele_map.json"
            ], [
                path: { "${params.outdir}/ProfileDists" },
                mode: params.publish_dir_mode,
                pattern: "*/query_profile.{text,parquet}"
            ], [
                path: { "${params.outdir}/ProfileDists" },
                mode: params.publish_dir_mode,
                pattern: "*/ref_profile.{text,parquet}"
            ], [
                path: { "${params.outdir}/ProfileDists" },
                mode: params.publish_dir_mode,
                pattern: "*/results.{text,parquet}"
            ], [
                path: { "${params.outdir}/ProfileDists" },
                mode: params.publish_dir_mode,
                pattern: "*/run.json"
            ]
        ]
    }

    withName: GAS_CALL {
        publishDir = [
            [
                path: { "${params.outdir}/GAS/Call" },
                mode: params.publish_dir_mode,
                pattern: "*/thresholds.json"
            ],
            [
                path: { "${params.outdir}/GAS/Call" },
                mode: params.publish_dir_mode,
                pattern: "*/results.{text,parquet}"
            ],
            [
                path: { "${params.outdir}/GAS/Call" },
                mode: params.publish_dir_mode,
                pattern: "*/run.json"
            ]
        ]
    }
    


    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }
}
